<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    <ul>
        {% for document in documents %}
            <li>
                <a href="{{ document.uploaded_file.url }}">{{ document.title }}</a>
                | <a href="{% url 'document_detail' document.slug %}">Details</a>
            </li>
        {% empty %}
            <li>No documents have been uploaded yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'upload_file' %}">Upload another file</a>
</body>
</html>
